$small: 500px;
.text {
  font-size: 30px;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 550px;
  @media screen and (max-width: $small){
    width: 100%;
    text-align: center;
  }
  h1 {
    color: black;
    letter-spacing: 5px;
  }

}
