<div class="galleryComponent">
  <div class="api-buttons" (click)="showMoreOptions()">
    <p>{{apiButtonText}}</p>
    <div class="hide-buttons">
      <button
        class="export-gallery"
        (click)="exportGalleries()"
      ></button>
      <button
        class="remove-gallery"
        (click)="removeGalleries()"
      ></button>
    </div>
  </div>
  <app-gallery-search
    *ngIf="galleries.length"
    (searchValue)="setSearchValue($event)"
  >
  </app-gallery-search>
  <div class="galleries" *ngIf="galleries.length" (mousewheel)="scrollHandler($event)" (touchstart)="touchHandler($event)">
    <app-gallery-item
      *ngFor="let item of galleries | searchGalleries: searchValue; trackBy:item?.id"
      [gallery] = "item"
      (deleteGallery)="removeGallery($event)"
      class="single-image">
    </app-gallery-item>
  </div>
</div>

